{
  "presets": ["es2015","env", "react","stage-0"],
  "plugins": [
    ["transform-object-rest-spread"],
    ["transform-function-bind"],
    ["transform-class-properties"],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
